body {overflow-x: hidden;}
/* header */


/* 본문  */
.container {
  width: 76%;
  margin: 0 auto;
}
.swiper {
   padding-top:120px;
}
.slick-slider {
  display: flex;
  margin-top: 58px;
  
  gap: 47px;
}
.slick-slider .slick-list-Daily {
  display: flex;
  width: 1027px;
  height: 85px;
  padding-left: 70px;
  background-color: white;
  line-height: 85px;
  border: 1px solid #F55573;
  text-align: center;
  border-radius: 50px;
  gap: 10px;
}
.slick-list-Daily h3 {
  padding-right: 31px;
  font-size: 25px;
  color: #F55573;
}
.slick-slider .slick-list-Daily span {
  display:inline-block;
  width: 70px;
  height: 36px;
  background-color: #F55573;
  border-radius: 50px;
  color: white;
  align-items: center;
  line-height: 36px;
  margin-top: 26px;
}
.slick-slider .slick-list-Daily .bold-color {
  color: #F55573;
  font-weight: 700;
}
.slick-slider .slick-list-Daily .bold-color,.text {
  font-size: 21px;
}
.slick-slider .slick-list-Daily img {
  display: block;
}
.slick-slider .slick-list-month {
  width: 362px;
  height: 85px;
  background-color: white;
  border: 1px solid #F55573;
  border-radius: 50px;
  align-items: center;
  display: flex; /*가로정렬*/
  padding-left: 70px;

}
.slick-slider .slick-list-month h3 {
  padding-left: 23px;
  font-size: 25px;
  color: #F55573;
}
.main-service {
 margin-top: 133px;
}
.main-service .main-service_btn {
 display: flex;
 font-size: 18px;
 font-weight: 500;
}
.main-service .main-service_btn p:hover {
 color: #F55573;
}
.main-service_btn {
  display: flex;
  margin-top: 38px;
  gap: 80px;
  align-items: center;
  justify-content: center;
}
.main-service_btn .icon {
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  border-radius: 50px;

}
.main-service_btn .text-area {
  padding-top: 20px;
}
.main-service-search {
  margin-top: 116px;
}
.main-service-search .cultural-event-btn ul {
  display: flex;
  margin-top: 54px;
  font-size: 18px;
  gap: 26px; 
}

.main-service-search .cultural-event-btn ul li {
  width: 80px;
  height: 42px;
  color:#F55573;
  background-color: #FEF2F2;
  border-radius: 23px;
  text-align: center;
  line-height: 42px;
  cursor: pointer; /*클릭가능, 마우스 포인터로 바뀜*/
}

.main-service-search .cultural-event-btn ul .on {
  background-color: #F55573;
  color: white;
}


.main-service-search .puls button {
  display: flex;
  color: #A8A8A8; 
  margin-top: 6px;
  padding-left: 920px;
  gap: 5px;
}

.main-poster {
  display: flex;
  margin-top: 54px;
  margin-bottom: 100px;
  height: 548px;
  justify-content: space-between;
}


.main-poster .subject {
  padding-top: 29px;
  font-size: 23px;
  padding-bottom: 8px;
  width: 310px;
  display: block; 
  white-space: nowrap; /*글자를 한줄처리*/
  overflow: hidden; /*넘쳐흐른 텍스트 잘라서 안보이게 처리*/
  text-overflow: ellipsis; /*...처리(넘치는 글자) */
}

.main-poster .category {
  display: flex;
  font-size: 1rem;
  padding-bottom: 7px;
  
}

.main-poster .date {
  color: #989898;
}

.icon-arrow {
  margin-top: 64px;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content {
  display: flex;
}

.main-news {

 
  padding-top: 50px;
}
.main-news h1 {
  margin-bottom: 30px;
}
.content section {
width: 906px;
}

.content .tab_btn {
  display: flex;
  margin-left: 100px;
  gap: 60px;
  color: #A8A8A8;
}

.content .tab_btn li {
  height: 40px;
  font-size: 23px;
}

.content .tab_btn .on {
  color:#F55573;
  font-weight: 600;
  border-bottom: 2px solid #F55573;
}

.content .frame {
  width: 997px;
  height: 357px;
  
}

.content .frame .notice {
  display: flex;
}

.content .frame .btn_puls {display: flex;}

.content .frame .puls {
  display: flex;
  color: #A8A8A8; 
  align-items: center;
  margin-left: auto;
}

.content .frame .puls button {
  gap: 5px;
  align-items: center;
}

.content .frame .puls button {
  display: flex;
  
}

.content .notice ul {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 18px;
  width: 907px;
  height: 270px;
}

.content .notice ul li {
  position: relative;
  padding-bottom: 25px;
}

.content .notice ul li span {
  display: inline-block;
  font-size: 15px;
  width: 52px;
  height: 23px;
  background-color: #F55573;
  border-radius: 12px;
  text-align: center;
  line-height: 23px;
  color: white;
}

.content .notice ul li p {
  position: absolute;
  right: 0;
  top: 0;
  color: #A8A8A8;
}

.main-service-banner h1 {
  margin-top: 200px;
}

.main-service-img {
  position: relative;
}

.main-service-banner .main-service-img .text-area {
  position: absolute;
  font-size: 23px;
  width: 182px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  top: 70%;
  left: 53%;
  background-color: #F55573;
  border-radius: 28px;
  color: white;
}

.main-service-banner .main-service-img .text-area:hover {
  background-color: white;
  color: #F55573;
}

.main-service-banner {position: relative;}
.main-service-banner .btn-area span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.main-service-banner .btn-area .prev  {left: -30px;}
.main-service-banner .btn-area .next {right: -30px;}

.main-service-cultural h1 {
  margin-top: 130px;
}

.main-service-cultural .cultural-news a {
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}







